module.exports = {

	// Порт на котором запускается сервер
	http_server_port: 8930,

	// Порт на котором запускается безопасный сервер (SSL)
	https_server_port: void 0,

	// Порт на котором запускается webSocket сервер
	ws_server_port: 8931,


	// Код доступа для оператора
	secret: 'cNIUmJrqxfx706cKohtPAEuoOuOGnnuX0j7YPUm4L2Gj0C0taKCagU5KqcSF2DPv',


	// Настройка внутренних модулей и API
	modules: {},


	// Внешние исполняемые файлы
	external_apps: {},


	// Микросервисы
	external_services: {

		pbx: {
			host: '192.168.3.111',
			port: '5038',
			span_id: '13',
			usr: 'admin',
			pwd: 'password'
		}

	}

};